<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi repellendus, iusto aliquid ea, ab suscipit neque iste dolorem eum dolores rerum inventore animi consequuntur ipsam perferendis voluptatum qui sed hic!</p>
  </header>
  <div style="width: 30%; padding: 4rem;">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card_body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, aliquam.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi repellendus, iusto aliquid ea, ab suscipit neque iste dolorem eum dolores rerum inventore animi consequuntur ipsam perferendis voluptatum qui sed hic!</p>
  </div>
</section>