<div class="collapsible collapsible__expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius eum eaque, laboriosam exercitationem fugit saepe illum quidem repellendus a deleniti, suscipit doloribus, sint similique corrupti vero nihil ipsum voluptate natus?
  </div>
</div>
<script src="main.js"></script>